.input {
    padding: 15px;
    border: 2px solid black;
    border-radius: 25px;
    font-size: 16px;
  }
  
  .input--small {
    padding: 15px;
    border-radius: 25px;
    border: 2px solid black;
    width: 300px;
    height: 12px;
    font-size: 16px;
  }
  
  .input--medium {
    padding: 15px;
    width: 75%;
    border-radius: 25px;
    border: 2px solid black;
    font-size: 16px;
  }
  
  .input--large {
    padding: 15px;
    width: 100%;
    border-radius: 25px;
    border: 2px solid black;
    font-size: 16px;
  }
  
  .input--hover {
    padding: 15px;
    border-radius: 25px;
    border: 2px solid #9747FF;
    width: 50%;
    font-size: 16px;
  }
  
  .input--required {
    padding: 15px;
    border-radius: 25px;
    border: 2px solid #F80B0B;
    width: 50%;
    font-size: 16px;
    color: #F80B0B;
  }
  
  
  