<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Connexion</title>
    <link rel="stylesheet" href="./../src/profile.css">
</head>
<body>
    <main>
        <div id="left">
            <h1>Desmond</h1>
            <p>desmonddslebon@gmail.com</p>
        </div>
        <div>
            <div id="center">
                <h1>Profil Settings</h1>
                <div>
                    <label for=""></label>
                    <input type="text">
                    <label for=""></label>
                    <input type="text">
                </div>
                <label for=""></label>
                <input type="text">
                <div>
                    <label for=""></label>
                    <input type="">
                    <label for="0"></label>
                    <input type="text">
                </div>
                <label for=""></label>
                <input type="text">
                <label for=""></label>
                <input type="text">
                <label for=""></label>
                <input type="text">
            </div>
            <div id="right">
                <div>
                    <h1>Edit Experience</h1>
                    <label for=""></label>
                    <input type="text">
                    <label for=""></label>
                    <input type="text">
                </div>
                <div>
                    <h1>Delete account</h1>
                    <p>Once you delete your account, there is no going back. Please be certain</p>
                    <button></button>
                </div>
            </div>
        </div>
    </main>
</body>
</html>