<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Connexion</title>
</head>
<body>
    <main>
        <div>

        </div>
        <div>
            <div>
                <h1>Profil Settings</h1>
                <div>
                    <label for=""></label>
                    <input type="text">
                    <label for=""></label>
                    <input type="text">
                </div>
            </div>
            <div>
                <h1>Edit Experience</h1>
            </div>
        </div>
    </main>
</body>
</html>